<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="pt.ipg.application.testingcovid_19">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ForgotPasswordActivity"></activity>
        <activity android:name=".FinalConclusionActivity" />
        <activity android:name=".TestActivity" />
        <activity android:name=".FaqViewActivity" />
        <activity android:name=".FaqActivity" />
        <activity android:name=".DoctorWriteFaqActivity" />
        <activity android:name=".ViewUserProfileActivity" />
        <activity android:name=".InfectedUserActivity" />
        <activity android:name=".DoctorFaqActivity" />
        <activity android:name=".DoctorProfileActivity" />
        <activity android:name=".UserProfileActivity" />
        <activity android:name=".WelcomeActivity" />
        <activity android:name=".TermsConditionsActivity" />
        <activity android:name=".UserDashboardActivity" />
        <activity android:name=".DashboardDoctorEditActivity" />
        <activity android:name=".DoctorAuthActivity" />
        <activity android:name=".DoctorDashboardActivity" />
        <activity
            android:name=".ApplicationStartActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name=".database.ContentProvider"
            android:authorities="PT.IPG.APPLICATION.TESTINGCOVID_19"
            android:exported="false" />
    </application>

</manifest>